<form id="new-post">
    <input type="text" id="title" placeholder="Post Title">
    <input type="text" id="description" placeholder="what did you think">
    <button type="submit" class="waves-effect waves-teal btn-flat">Submit</button>
</form>

<script src="/js/newpost.js"></script>