<form id="new-post">
    <input type="text" id="title" placeholder="Post Title">
    <input type="text" id="description" placeholder="What did you think?">
    <button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"></i>Submit</button>
</form>

<script src="/js/newpost.js"></script>